@import "tailwindcss";

@theme {
  --color-base: #FDFAF2;
  --color-accent: #FFB400;
  --color-text: #2E2E2E;
  --color-border: #C5C5C5;
  --color-interactive: #3A86FF;
  --color-base-dark: #121212;
  --color-text-dark: #E5E5E5;
  --color-hint: rgba(101, 53, 15, 0.3);
  --color-floral-white: #fbfbf2ff;
  --color-platinum: #e5e6e4ff;
  --color-timberwolf: #cfd2cdff;
  --color-silver: #a6a2a2ff;
  --color-taupe-gray: #847577ff;

  --font-main: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  --font-mono: font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  --breakpoint-md: 960px;
}
