html, body {
  font-family: var(--font-main);
  font-weight: normal;
  width: 100%;
  height: 100%;
  line-height: 1.6;
  font-size: 1.1rem;
  letter-spacing: 0.25px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1920 1080%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%221920%22 height=%221080%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h1920v1080H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23fbfbf2%22 d=%22M0 0h1920v1080H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23cfd2cd%22 stroke-width=%221.92%22 fill=%22none%22 mask=%22url(%23b)%22%3E%3Cpath d=%22M0 0h192v192H0zM192 0h192v192H192zM384 0h192v192H384zM576 0h192v192H576zM768 0h192v192H768zM960 0h192v192H960zM1152 0h192v192h-192zM1344 0h192v192h-192zM1536 0h192v192h-192zM1728 0h192v192h-192zM0 192h192v192H0zM192 192h192v192H192zM384 192h192v192H384zM576 192h192v192H576zM768 192h192v192H768zM960 192h192v192H960zM1152 192h192v192h-192zM1344 192h192v192h-192zM1536 192h192v192h-192zM1728 192h192v192h-192zM0 384h192v192H0zM192 384h192v192H192zM384 384h192v192H384zM576 384h192v192H576zM768 384h192v192H768zM960 384h192v192H960zM1152 384h192v192h-192zM1344 384h192v192h-192zM1536 384h192v192h-192zM1728 384h192v192h-192zM0 576h192v192H0zM192 576h192v192H192zM384 576h192v192H384zM576 576h192v192H576zM768 576h192v192H768zM960 576h192v192H960zM1152 576h192v192h-192zM1344 576h192v192h-192zM1536 576h192v192h-192zM1728 576h192v192h-192zM0 768h192v192H0zM192 768h192v192H192zM384 768h192v192H384zM576 768h192v192H576zM768 768h192v192H768zM960 768h192v192H960zM1152 768h192v192h-192zM1344 768h192v192h-192zM1536 768h192v192h-192zM1728 768h192v192h-192zM0 960h192v192H0zM192 960h192v192H192zM384 960h192v192H384zM576 960h192v192H576zM768 960h192v192H768zM960 960h192v192H960zM1152 960h192v192h-192zM1344 960h192v192h-192zM1536 960h192v192h-192zM1728 960h192v192h-192z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%2280%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23fff%22 stop-opacity=%22.2%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  font-weight: semibold;
  letter-spacing: 0.75px;
}

h3 {
  font-size: 1.5rem;
  font-weight: medium;
  letter-spacing: 0.5;
}

code {
  font-family: var(--font-mono);
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  font-style: italic;
  background-repeat: no-repeat;
}
